.Todo-App{
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: lavender;

  
}

.page-Title{
  font-size: 50px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-display: initial;
  text-align: center;
  font-weight: bold;


}